---
import { Image } from "astro:assets";

interface Props {
	collapse?: boolean;
	id?: string;
	articleData: {
		images: {
			heroImage: { src: string; alt: string };
			bottomLeftImage: { src: string; alt: string; subtext: string };
			bottomRightImage: { src: string; alt: string; subtext?: string };
		};
		content: {
			header: { tags: string[]; title: string; subtext: string; author: string; postDate: string };
			introduction: string[];
			body: Array<{ title: string; paragraphs: string[] }>;
			conclusion: { title: string; paragraphs: string[] };
		};
	};
}

const { collapse = false, id = "", articleData } = Astro.props;
const { images, content } = articleData;

// Import Images
// Dynamically import images from public folder
const imageModules = import.meta.glob(`../assets/images/faces-of-singapore/*/*.{png,jpg,jpeg,webp}`, {
	eager: true,
}) as Record<string, { default: any }>;

const getImage = (imagePath: string) => {
	return imageModules[imagePath].default || null;
};

const heroImage = getImage(articleData.images.heroImage.src);
const bottomLeftImage = getImage(articleData.images.bottomLeftImage.src);
const bottomRightImage = getImage(articleData.images.bottomRightImage.src);
---

<div id={id} class={`icon-article ${collapse ? "collapse" : ""} primary-light-bg`}>
	<div class="content-wrapper">
		<div class="header-section">
			<div class="icon-article-tags">
				{content.header.tags.map((tag) => <span class="tag primary-bg">{tag}</span>)}
			</div>
			<div class="header-para">
				<h2 class="header-para-title">
					{content.header.title}
				</h2>
				<h4 class="header-para-content">
					{content.header.subtext}
				</h4>
			</div>
			<div class="author">
				<h6>
					<span class="author-text-bold">Posted on: </span>
					<span class="author-text-normal">{content.header.postDate}</span>
				</h6>
				<h6>
					<span class="author-text-bold">Author: </span>
					<span class="author-text-normal">{content.header.author}</span>
				</h6>
			</div>
		</div>
		<div class="top-section">
			{
				heroImage && (
					<div class="top-section-image">
						<Image src={heroImage} alt={images.heroImage.alt} />
					</div>
				)
			}
			<div class="first-para">
				{content.introduction.map((paragraph) => <h6>{paragraph}</h6>)}
			</div>
			{
				content.body.map((section, index) => (
					<div class={index === 0 ? "second-para" : "third-para"}>
						<h2 class={index === 0 ? "second-para-title" : "third-para-title"}>{section.title}</h2>
						<div class={index === 0 ? "second-para-content" : "third-para-content"}>
							{section.paragraphs.map((paragraph) => (
								<h6>{paragraph}</h6>
							))}
						</div>
					</div>
				))
			}
		</div>
		<div class="btm-section">
			{
				(
					<div class="image-gallery">
						<div class="image-card">
							<Image src={bottomLeftImage} alt={images.bottomLeftImage.alt} />
							<h6>{images.bottomLeftImage.subtext}</h6>
						</div>
						<div class="image-card">
							<Image src={bottomRightImage} alt={images.bottomRightImage.alt} />
							<h6>{images.bottomRightImage.subtext}</h6>
						</div>
					</div>
				)
			}
			<div class="fourth-para">
				<h2 class="fourth-para-title">{content.conclusion.title}</h2>
				<div class="fourth-para-content">
					{content.conclusion.paragraphs.map((paragraph) => <h6>{paragraph}</h6>)}
				</div>
			</div>
		</div>
		{
			collapse && (
				<a id={`button-${id}`} class="button btn-primary">
					Read more
				</a>
			)
		}
	</div>
</div>

<style>
	.icon-article {
		display: flex;
		justify-content: center;
		padding: 3.25rem 2.5rem;
		border-radius: 0.5rem;
		width: 100%;
	}

	.icon-article .content-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: min(1440px, 100%);
		gap: 1.5rem;
	}

	.icon-article h2 {
		text-transform: none;
		line-height: 1;
	}

	.icon-article img {
		border-radius: 0.5rem;
		/* Placeholder image includes border */
		/* border: 0.25rem solid var(--dark-grey); */
	}

	.icon-article .header-section,
	.icon-article .top-section,
	.icon-article .btm-section {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		width: 100%;
	}

	.icon-article .header-section {
		align-items: flex-start;
	}

	.icon-article .header-section .icon-article-tags {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 0.5rem;
		width: 100%;
	}

	.icon-article .header-section .header-para {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
	}

	.icon-article .header-section .author {
		display: flex;
		justify-content: flex-start;
		gap: 1.5rem;
	}

	.icon-article .header-section .author-text-bold {
		font-weight: 700;
	}

	.icon-article .header-section .author-text-normal {
		font-weight: 500;
	}

	.icon-article .top-section .top-section-image {
		width: 100%;
	}

	.icon-article .first-para,
	.icon-article .second-para,
	.icon-article .third-para,
	.icon-article .fourth-para {
		padding: 0 230px;
	}

	.icon-article .second-para,
	.icon-article .third-para,
	.icon-article .fourth-para {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	.icon-article .first-para,
	.icon-article .second-para-content,
	.icon-article .third-para-content,
	.icon-article .content-wrapper.fourth-para-content {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
	}

	.icon-article .btm-section .image-gallery {
		display: flex;
		gap: 0.5rem;
		width: 100%;
	}

	.icon-article .btm-section .image-gallery .image-card {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		width: 100%;
		height: auto;
	}

	.collapse {
		position: relative;
		max-height: 810px;
		overflow: hidden;
		align-items: flex-start;
	}

	.collapse::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 810px;
		background: linear-gradient(180deg, var(--primary-light-0) 1.12%, var(--primary-light-50) 100%);
		pointer-events: none;
		z-index: 1;
	}

	.icon-article.collapse .button {
		position: absolute;
		bottom: 3.25rem;
		border: none;
		padding: 1rem 1.5rem;
		width: 194px;
		z-index: 2;
	}
</style>
