---
import { Image } from "astro:assets";
import cloud1 from "../../images/brand-intro/clouds/Cloud1.png";
import cloud2 from "../../images/brand-intro/clouds/Cloud2.png";
import cloud3 from "../../images/brand-intro/clouds/Cloud3.png";
import cloud4 from "../../images/brand-intro/clouds/Cloud4.png";
import cloud5 from "../../images/brand-intro/clouds/Cloud5.png";
import natureSoundsAudio from "../../audio/Landing_Nature_Ambience_New.mp3"
---

<section id="brand-intro">
    <div id="brand-intro-content">
        <div class="welcome-text">
            <h3>Welcome!</h3>
            <h3>
                You're about to step into a space where every connection runs deep and every interaction is an opportunity.
                You're now part of something more than just a network.
            </h3>
            <h3>We're excited to have you!</h3>
        </div>
        <div id="mouse-icon-wrapper">
            <div id="mouse-icon"></div>
            <p>scroll to continue</p>
        </div>
    </div>
    <Image id="cloud1" class="cloud" src={cloud1} alt="cloud 1" />
    <Image id="cloud2" class="cloud" src={cloud2} alt="cloud 2" />
    <Image id="cloud3" class="cloud" src={cloud3} alt="cloud 3" />
    <Image id="cloud4" class="cloud" src={cloud4} alt="cloud 4" />
    <Image id="cloud5" class="cloud" src={cloud5} alt="cloud 5" />
    <audio id="nature-sounds-audio" src={natureSoundsAudio}></audio>
</section>

<style>
    #brand-intro {
        margin-bottom: -50vh;
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        background-color: #E6EBFF;
    }

    #brand-intro-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .welcome-text {
        margin-top: 10rem;
        max-width: 64rem;
        font-size: 25px;
        text-align: center;
        z-index: 5;
    }

	@media only screen and (max-height: 575.98px) and (orientation: landscape) {
		.welcome-text {
            margin-top: 0;
			font-size: 16px;
			width: calc(100vw - 20%);
		}
	}

    #mouse-icon-wrapper {
        position: absolute;
        bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 7;
    }

    .cloud {
        position: fixed;
        bottom: 0;
        max-width: 100%;
        z-index: 6;
        pointer-events: none;
    }

    #mouse-icon {
        animation: upAndDown 3s infinite ease-in-out;
        scale: 0.7;
    }

    @keyframes upAndDown {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(20px);
        }
    }
</style>

<script>
    // Imports
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import lottie from "lottie-web";

    gsap.registerPlugin(ScrollTrigger)
    
    // Initialise variables
    const natureSoundsAudio = document.querySelector("#nature-sounds-audio")! as HTMLAudioElement;
    natureSoundsAudio.loop = true; // set audio to loop
    natureSoundsAudio.volume = 0.3;
    const clouds = [...document.querySelectorAll(".cloud")];
    const leftClouds = clouds.slice(0, 3);
    const rightClouds = clouds.slice(3);

    // Initialise lottie animation
    const mouseIcon = document.querySelector("#mouse-icon")!;

    const mouseIconAnimation = lottie.loadAnimation({
        container: mouseIcon,
        renderer: "svg",
        loop: true,
        autoplay: false,
        path: "/mouse.json",
    });

    mouseIconAnimation.play();

    // Auto Animation
        clouds.forEach((cloud, i) => {
        gsap.to(cloud, {
            x: () => `+=${600 * (i % 2 ? 1 : -1)}`, // Alternate directions
            repeat: -1,
            yoyo: true,
            ease: "power1.out",
            duration: 15,
        });
    });

    // Initialise Timelines
    const cloudTimeline = gsap.timeline({
        scrollTrigger: {
            trigger: "#brand-intro",
            scrub: 1,
            start: "top top",
            end: "bottom center",
            onEnter: () => {
                natureSoundsAudio.play()
                .catch((error) => {
                        console.log("Error playing audio:", error);
                });
            },
        },
    });

    // Timeline Animation
    cloudTimeline.to("#brand-intro-content", {
        opacity: 0,
        ease: "easeOut",
        delay: 0.5
    })

    leftClouds.forEach((cloud, i) => {
        cloudTimeline.to(
            cloud,
            {
                xPercent: -200,
                ease: "none",
            },
            0
        );
    });

    rightClouds.forEach((cloud, i) => {
        cloudTimeline.to(
            cloud,
            {
                xPercent: 200,
                ease: "none",
            },
            0
        );
    });
</script>