---
import { Image } from "astro:assets";
import mainMan from "../../images/main-man-1.png";
import scene1Foreground from "../../images/brand-intro/intro1/Scene1_Foreground_Full.png";
import scene1Midground from "../../images/brand-intro/intro1/Scene1_Midground_Full.png";
import scene1Background from "../../images/brand-intro/intro1/Scene1_Background_Full.png";
import scene2Midground from "../../images/brand-intro/intro1/Scene2_Midground_Full_New.png";
import scene2Background from "../../images/brand-intro/intro1/Scene2_Background_Full_New.png";
import footStepsAudio from "../../audio/Intro_2_Nature_Footstep.mp3";
---

<section id="brand-intro-1">
    <div id="brand-intro-1-content">
        <!-- Scene 1 -->
        <Image id="main-man-intro1" class="scene-1" src={mainMan} alt="main man" />
        <Image id="scene1-foreground" class="scene-1" src={scene1Foreground} alt="scene 1 foreground" />
        <Image id="scene1-midground" class="scene-1" src={scene1Midground} alt="scene 1 midground" />
        <Image id="scene1-background" class="scene-1" src={scene1Background} alt="scene 1 background" />
        <div id="trees" class="popping-trees scene-1"></div>

        <div id="card-scene-1" class="card scene-1">
            <p class="card-text-main">
                As we reflect on five incredible years, we want to celebrate the unique paths each of us has taken and
                the friendships that tie us together.​
            </p>
        </div>
        <!-- Scene 2 -->
        <Image id="scene2-midground" class="scene-2" src={scene2Midground} alt="scene 2 midground" />
        <Image id="scene2-background" class="scene-2" src={scene2Background} alt="scene 2 background" />
        <div id="card-scene-2" class="card scene-2">
            <p class="card-text-main">
                So, take a moment to explore and discover this world that our team has created for you. You are a valued
                and integral part of this journey!​
            </p>
        </div>
        <audio id="foot-steps-audio" src={footStepsAudio}></audio>
    </div>
</section>

<style>
    #brand-intro-1 {
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        z-index: 1;
        pointer-events: none;
    }

    img {
        object-fit: cover;
    }

    #main-man-intro1 {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
    }

    #scene1-background {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    #scene1-midground {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    #scene1-foreground {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
    }

    #trees {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .popping-trees {
        position: absolute;
        z-index: 3;
        transform-origin: bottom;
    }

    #scene2-midground {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
    }

    #scene2-background {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    .card {
        position: absolute;
        top: 0;
        left: 50%;
        width: 680px;
        transform: translate(-50%, 50%);
        z-index: 5;
    }

    @media only screen and (max-height: 575.98px) and (orientation: landscape) {
        .card {
            transform: translate(-50%, 20%);
            width: calc(100vw - 30%);
            padding: 20px;
        }

        .card p {
            font-size: 16px;
            line-height: 26px;
        }
    }
</style>

<script>
    // Imports
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import lottie from "lottie-web";

    gsap.registerPlugin(ScrollTrigger);

    // Initialise lottie animation
    const trees = document.querySelector("#trees")!;
    const natureSoundsAudio = document.querySelector("#nature-sounds-audio")! as HTMLAudioElement;
    natureSoundsAudio.loop = true; // set audio to loop
    natureSoundsAudio.volume = 0.3;
    const footStepsAudio = document.querySelector("#foot-steps-audio")! as HTMLAudioElement;
    footStepsAudio.loop = true; // set audio to loop

    const treesAnimation = lottie.loadAnimation({
        container: trees,
        renderer: "svg",
        loop: false,
        autoplay: false,
        path: "/trees.json",
    });

    // Scroll Animation
    // Initialise Timeline
    const timeline = gsap.timeline({
        scrollTrigger: {
            trigger: "#brand-intro-1",
            pin: "#brand-intro-1",
            pinSpacing: true,
            scrub: true,
            start: "top top",
            end: () => `+=${isLandscapeMobile() ? "500%" : "100%"}`,
            onEnter: () => {
                footStepsAudio.play().catch((error) => {
                    console.log("Error playing audio:", error);
                });
            },
            onLeave: () => {
                natureSoundsAudio.pause();
                footStepsAudio.pause();
            },
            onEnterBack: () => {
                natureSoundsAudio.play().catch((error) => {
                    console.log("Error playing audio:", error);
                });
                footStepsAudio.play().catch((error) => {
                    console.log("Error playing audio:", error);
                });
            },
            onLeaveBack: () => {
                natureSoundsAudio.pause();
                footStepsAudio.pause();
            },
        },
    });

    // Scene 1
    timeline
        .from("#main-man-intro1", { opacity: 0 })
        .from("#scene1-foreground", { opacity: 0 })
        .from("#scene1-midground", { opacity: 0 })
        .from("#scene1-background", { opacity: 0 })
        .from(".popping-trees", {
            opacity: 0,
            duration: 10,
            onStart: () => {
                treesAnimation.goToAndStop(treesAnimation.totalFrames - 1, true);
                treesAnimation.setDirection(-1);
                treesAnimation.setSpeed(2);
                treesAnimation.play();
            },
        })
        .from("#card-scene-1", { opacity: 0, duration: 10 })
        .from(".scene-1", { opacity: 1, duration: 1 })

        // Scene 2
        .to("#main-man-intro1", { y: "20vh", opacity: 0, duration: 0 })
        .to("#main-man-intro1", { scale: 2.1, transformOrigin: "top", y: "-15vh" })
        .to("#main-man-intro1", { opacity: 1, duration: 2 })
        .to("#main-man-intro1", { scale: 1.6, duration: 4 })
        .from("#scene2-midground", { opacity: 0 }, "<+=0")
        .from("#scene2-background", { opacity: 0, scale: 0.9 })
        .from("#card-scene-2", { opacity: 0, delay: 2 })
        .to("#brand-intro-1-content", { opacity: 0, delay: 20 });

    // Functions
    function isLandscapeMobile() {
        return window.matchMedia("only screen and (max-height: 575.98px) and (orientation: landscape)").matches;
    }
</script>
