---
import { SITE_TITLE, DESCRIPTION } from "../constants.js";
import "../styles/global.css";
import { Image } from "astro:assets";
import textureOverlay from "../images/texture-overlay.png";
import mobileRotate from "../images/mobile-rotate.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
    <meta name="description" content={DESCRIPTION} />
    <meta name="keywords" content="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="manifest" href="manifest.json">
    <script src="https://assets.dcube.cloud/scripts/wogaa.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@govtechsg/sgds-web-component@2.1.2/components/Masthead/index.umd.js"></script>
  </head>
  <body>
    <sgds-masthead></sgds-masthead>
    <Image id="texture-overlay" src={textureOverlay} alt="texture overlay" />
    <div id="portrait-alert">
      <Image src={mobileRotate} id="mobile-rotate" alt="mobile rotate icon" />
      <h2 class="">
        Rotate your device to landscape
      </h2>
      <p>*Best experience with sound on</p>
    </div>
    <slot />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
  </body>

<footer class="sgds footer"> 
    <div class="footer-mandatory-links">
            <ul>
                <li><a href="https://tech.gov.sg/report_vulnerability" target="_blank"
                        rel="noopener noreferrer">Report Vulnerability</a></li>
                <li><a href="https://singaporeglobalnetwork.gov.sg/privacy-statement/" target="_blank" rel="noopener noreferrer">Privacy Statement</a></li>
                <li><a href="https://singaporeglobalnetwork.gov.sg/terms/" target="_blank" rel="noopener noreferrer">Terms of use</a></li>
            </ul>
    </div>
    <div class="footer-copyrights">
            <span> © 2024 Government of Singapore<br>
                Last Updated 10 Oct 2024 </span>
    </div>
</footer>
</html>

<style>
  #texture-overlay {
    position: fixed;
    top: 0;
    left: 0;
	height: 100%;
	width: 100%;
    object-fit: cover;
    z-index: 100;
    mix-blend-mode: multiply;
    pointer-events: none;
  }

  #portrait-alert {
    display: none;
  }

  @media screen and (orientation: portrait) {    
    #portrait-alert {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 99;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      background-color: white;
    }
  }

  #mobile-rotate {
    transform-origin: center;
    animation: rotatePhone 1.5s ease 0.5s infinite alternate;
  }

  #portrait-alert h2 {
    font-size: 21px;
  }

  #portrait-alert p {
    font-size: 16px;
    font-style: italic;
  }

  .sgds.footer {
    display: flex;
    justify-content: space-between; /* Distribute elements between the left and right */
    align-items: center; /* Vertically align items in the middle */
    background-color: #333333;
    padding: 1.5rem 1.5rem;
  }

  .sgds.footer .footer-mandatory-links ul li {
    display: inline-block;
    margin-right: 15px; 
  }

  .sgds.footer .footer-mandatory-links ul li:hover {
		filter: invert(60%) sepia(46%) saturate(386%) hue-rotate(346deg) brightness(200%) contrast(105%);
  }

  .sgds.footer .footer-mandatory-links ul li a {
    color: #d0d5dd;
    text-decoration: none;
  }

  .sgds.footer .footer-copyrights {
    color: #d0d5dd;
  }

  @keyframes rotatePhone {
    0%, 10% {
      transform: rotate(0);
    }
    90%, 100% {
      transform: rotate(90deg);
    }
  }
</style>

<script>
  if (document.documentElement.fullscreenElement) {
    await document.documentElement.requestFullScreen();
    await screen.orientation.lock("landscape-primary")
  }
</script>